
.v-admin {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.v-admin-header {
    flex: 0 0 auto;
    height: 60px;
    width: 100%;
    padding: 12px;


}

.v-admin-content {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: row;

}

.v-admin-main-container {
    flex: 1;
    height: 100%;
}

.v-admin-statusbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.v-admin-statusbar > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.2) 50%, transparent 100%);
}
.v-admin-statusbar > div.active {
    background: linear-gradient(transparent 0%, rgba(212,255,212,0.5) 50%, transparent 100%);
    color: white;
}

.v-admin-polls {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.v-admin-polls-poll {
    flex: 0 0 auto;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgba(0,0,0,0.3);
    border-top: solid 2px rgba(0,0,0,0.6);
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.1) 50%, transparent 100%);
}

.v-admin-polls-poll > div {
    flex: 1;
}

.v-admin-polls-poll.active {
    background: linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 100%);
}


.v-admin-debug-area {
    flex: 1;
    color: white;
}

.v-admin-toolbar {
    flex: 0 0 auto;
    width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(to right, rgba(0,0,0,0.4) 50%, transparent 90%);

}