
.v-results {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.v-results-header {
    flex: 0 0 auto;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-bottom: groove 3px rgba(255,255,255,0.3);
}

.v-results-header-h2 {
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    font-style: italic;
}

.v-results-header-h1 {
    font-size: 28px;
    color: rgba(255,255,255,1);
}



.v-results-answers {
    flex: 1;
    display: flex;
    flex-direction:row;
    width: 100%;
    max-width: 1680px;
}

.v-results-answer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 6px;
}

.v-results-answer-column-value {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.v-results-answer-column-value-text {
    font-size: 26px;
    font-weight: bold;
    text-align: center;

    width: 64px;
    height: 64px;
    background-color: rgba(0,0,0,0.8);
    border-top-right-radius: 16px 32px;
    border-top-left-radius: 16px 32px;

    border-top: solid 8px rgba(128,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.v-results-answer-column-label {
    flex: 0 0 auto;
    height: 90px;
    display: flex;

    justify-content: center;
    text-align: center;

    font-size: 18px;
    padding-top: 3px;
    border-top: solid 3px white;
}

.v-results-logo {


}

.v-results-footer {
    flex: 0 0 auto;
    height: 100px;

    display: flex;
    flex-direction: row;

    width: 100%;

}

.v-results-footer-timer {
    position: absolute;
    bottom: 20px;
    left: 100px;
    margin-bottom: 6px;



}

.v-results-footer-timer > .c-timer {
    border: solid 2px white;
    padding: 12px;
    height: 64px;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.1);
    font-size: 32px;
    font-weight: bold;
}



.v-results-footer-poll {
    flex: 0 0 auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-results-footer-poll-img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}




.v-results-slogan {
    opacity: 0.2;
    width: 80%;
    position: absolute;
    top: 30px;
    left: 10%;
}

.v-results-timer {
    position: absolute;
    bottom: 10px;
    right: 10px;

}
